body{
  background-color: rgba(0, 0, 0, 0.868);
  color: white;
}


.board{
margin: 20px;
width: 50%;
}

.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.squares{
  border: 1px solid white;
  height: 100px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}